<div class="tileContainer">
  <h1 class="title">Blogpost</h1>
  {{#if isLoggedIn}}
  <a href="createBlogposts" class="button is-primary">Create a blogpost</a>
  {{/if}}
  {{#unless Blogpost.length}}
    <p>There is nothing here</p>
  {{/unless}}
  {{#each Blogpost}}
    <div class="tile is-ancestor is-vertical">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">{{title}}</p>
          <p>{{postText}}</p>
          {{#if ../isLoggedIn}}
          <div class="level-right">
            <form action="/delete-blogpost/{{id}}" method="POST">
            <input type="hidden" name="_csrf" value="{{../token}}">
              <button class="button is-danger" type="submit">
                <i class="fas fa-trash-alt"></i>
              </button>
            </form>
            <form action="/update-blogpost/{{id}}" method="GET">
              <button class="button is-info" type="submit">
                <i class="fas fa-edit"></i>
              </button>
            </form>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
